<h1>Groups for Week <%= @week_number %></h1>

<% if @groups.present?  %>
  <table>
    <thead>
      <tr>
        <th>Group ID</th>
        <th>Group Leader</th>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td><%= link_to(group.id, group_path(group.id)) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @groups %>

<% else %>
  <strong>No groups formed for week <%= @week_number %></strong>

  <%= link_to('Build groups for current week', build_groups_groups_path) %>
<% end %>
